<%= tag.div id: "order-#{@order.id}" do %>
  <p>Order ID <%= @order.id %></p>
  <p>Created: <%= @order.created_at %></p>
  <p>Last Update: <%= @order.updated_at %></p>
  <p>Status: <%= @order.status %></p>
  <p>Item Count: <%= @order.total_item_count %></p>
  <p>Total Cost: <%= number_to_currency(@order.total_cost) %></p>

  <% unless @order.ship_location_id.nil? %>
    <h2>Shipping To: <%= @address.nickname %></h2>
    <p>Address: <%= @address.address %></p>
    <p>City: <%= @address.city %></p>
    <p>State: <%= @address.state %></p>
    <p>Zip: <%= @address.zip %></p>
  <% end %>

  <% if @order.status == 'pending' || @order.status == 'packaged' %>
    <p><%= link_to 'Cancel Order', profile_order_path(@order), method: :delete %></p>
  <% end %>
  <% if @order.status == 'pending' %>
    <p><%= link_to 'Change Shipping Location', edit_profile_order_path(@order) %></p>
  <% end %>

  <% @order.order_items.each do |oitem| %>
    <%= tag.div id: "oitem-#{oitem.id}" do %>
      <%= render partial: "/profile/orders/order_item_card", locals: {oitem: oitem, img_width: 150} %>
    <% end %>
  <% end %>

<% end %>
